h1 {
    colour: pink
}

#para1{
    font-size:30px; 
    color: darkblue;
    background-color: red;
    border: 5px solid green ;
}

.commonpara {
    background-color: green;
    color: #fff;
    border: 10px solid darkblue;
}